@tailwind base;
@tailwind components;
@tailwind utilities;


/* Светлая тема */
html.light {
  @apply bg-light-background text-light-text;
}
/* Тёмная тема (через класс dark) */
html.dark {
  @apply bg-dark-background text-dark-text;
}

/* Глобальный класс для navbar */
.my_navbar_bg {
  @apply bg-navbarLight text-textLight; /* Для светлой темы */
}
.dark .my_navbar_bg {
  @apply bg-navbarDark text-textDark; /* Для тёмной темы */
}

.my_footer_bg {
  @apply bg-footerLight text-textLight; /* Для светлой темы */
}
.dark .my_footer_bg {
  @apply bg-footerDark text-textDark; /* Для тёмной темы */
}





.group.data-slot[input-wrapper]{
  background-color: rgba(255, 0, 0, 0.2) !important;
  z-index: 1000;
}




button[aria-label="Close"] svg[role="presentation"] {
  width: 28px; /* Увеличиваем ширину */
  height: 28px; /* Увеличиваем высоту */
}

header {
  padding-left: 12px !important; /* Принудительное изменение паддинга */
  padding-right: 12px !important; /* Принудительное изменение паддинга */
}

button[data-slot="tab"] {
  padding: 0px 6px !important; /* Устанавливаем нужные отступы */
}

div[data-slot="tabList"] {
  gap: 4px !important; /* Устанавливаем отступы */
  padding: 2px !important;
  border-radius: 10px !important;
}