@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  padding-left: 12px !important; /* Принудительное изменение паддинга */
  padding-right: 12px !important; /* Принудительное изменение паддинга */
}

button[data-slot="tab"] {
  padding: 0px 6px !important; /* Устанавливаем нужные отступы */
}

div[data-slot="tabList"] {
  gap: 4px !important; /* Устанавливаем отступы */
  padding: 2px !important;
  border-radius: 10px !important;
}